
@{
    Layout = null;
    ViewBag.Title = "Index";
}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>printer home page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    @* <link rel="stylesheet" href="style.css">*@

    
    <style>
        body {
            width: 100%;
        }

        #header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 20px 60px;
            margin-bottom: 0px;
            background-color: aliceblue;
            box-shadow: 0 5px 15px rgba(0,0,0,0.06);
            position: sticky;
            top: 0;
            left: 0;
        }

        #navbar {
            display: flex;
            align-items: center;
            justify-content: center;
        }

            #navbar li {
                list-style: none;
                padding: 0 20px;
                position: relative;
            }

                #navbar li a {
                    text-decoration: none;
                    font-size: 16px;
                    font-weight: 600;
                    color: black;
                    transition: 0.3s ease;
                }

                    #navbar li a:hover,
                    #navbar li a.active {
                        color: blueviolet;
                    }

                        #navbar li a.active::after,
                        #navbar li a:hover::after {
                            content: "";
                            width: 30%;
                            height: 2px;
                            background: brown;
                            position: absolute;
                            bottom: -4px;
                            left: 20px;
                        }

        .dropdown-menu {
            position: relative;
            z-index: 9999;
        }

        .second {
            margin: 20px 20px;
            background-color: cornsilk;
            height: 500px;
        }

        .third {
            display: flex;
            justify-content: space-between;
            background-image: url('../../image/banner.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            padding-top: 0px;
            height: 480px;
            margin-left: 15px;
            margin-right: 15px;
            background-color: antiquewhite;
        }

        .forth {
            margin-top: 100px;
        }

            .forth button {
                padding: 0.7em;
                color: #fff;
                box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
                border-radius: 1em;
                cursor: pointer;
                margin-top: 10px;
                margin-left: 10px;
                width: 500px;
                background-color: Transparent;
                background-repeat: no-repeat;
                overflow: hidden;
                border-style: solid;
                border-color:;
                black;
            }

        .fifth {
            margin-top: 100px;
        }

        .forth button:hover {
            background-color: black;
            transition: 0.7s;
        }

        .fifth button {
            padding: 0.7em;
            color: #fff;
            box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
            border: solid;
            border-radius: 1em;
            cursor: pointer;
            margin-top: 10px;
            margin-left: 10px;
            width: 500px;
            background-color: Transparent;
            background-repeat: no-repeat;
            overflow: hidden;
        }

            .fifth button:hover {
                background-color: black;
                transition: 0.7s;
            }


        .ssecond {
            margin-left: 20px;
            padding-left: 30px;
        }

        .sfirst {
            display: flex;
            justify-content: space-between;
        }

        .sthird {
            padding-right: 100px;
        }

        footer {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            background-color: skyblue;
        }

            footer .col {
                display: flex;
                align-items: flex-start;
                margin-bottom: 20px;
                flex-direction: column;
            }

        form {
            max-width: 500px;
            padding: 1em;
            border: 1px solid #ccc;
            border-radius: 1em;
        }

        div {
            margin-bottom: 1em;
        }

        label {
            margin-bottom: .5em;
            color: #333333;
            display: block;
        }

        input[type="text"],
        input[type="file"],
        textarea {
            border: 1px solid #CCCCCC;
            padding: .5em;
            font-size: 1em;
            width: 100%;
            box-sizing: border-box;
        }

        button {
            padding: 0.7em;
            color: #fff;
            background-color: #007BFF;
            border: none;
            border-radius: 1em;
            cursor: pointer;
        }

            button:hover {
                background-color: #0056b3;
            }

        .gulla {
            height:;
            width: 400px;
            background: #fff;
            padding: 0px;
            border-radius: 15px;
            color: #333;
        }

            .gulla img {
                width: 200px;
                height: 200px;
            }

        .sum {
            display: flex;
            flex-direction: column;
            align-items: start;
        }

        .gulla {
            display: flex;
            flex-direction: column;
            align-items: start;
            margin-top: 10px;
        }

        #suman {
            max-width: 300px;
            margin-top: 10px;
        }

        #section{
            

        }

        #add {
            
            margin-left:80px;
            margin-right:80px;
            background-color:skyblue;
        }
        #contain{
            background-color:lightgray;
            margin-left:20%;
            margin-right:20%;

        }
        #details {
            background-color: lightgray;
            margin-right: 20%;
            margin-left: 20%;
        }
        #imagefm{
            margin-left:10%;
            margin-right:10%;
            
        }
        #pdetails {
           margin-left:25%;
           padding-top:10px;
            
        }
        #contain h3{
            align-content:center;
        }
    </style>

</head>
<body>
    <section id="header">
        <a href="#"><img src="~/image/pnglogo.png" class="logo" alt="" width="50" height="50" style=""></a>
        <div>
            <ul id="navbar">
                <li><a href="Landingpage.cshtml">Home</a></li>
                <li><a href="@Url.Action("Index", "Shop")">Shop</a></li>
                <li><a href="blog.html">Blog</a></li>
                <li><a href="@Url.Action("Index", "Contact")">Contact</a></li>
                <li><a href="about.html">Product Management</a></li>
            </ul>
        </div>

    </section>

    <section>
        <div class="first">
            <div class="second">
                <div class="third">
                    <div class="forth">
                        <button><b>Product Information Mgmt</b></button>
                        <br />
                        <br />
                        <button><b>Marketing and SEO</b></button>
                        <br />
                        <br />
                        <button><b>Payment and Security</b></button>
                        <br />
                        <br />
                        <button><b>Multichannel Selling</b></button>
                        <br />
                        <br />
                        <button><b>Mobile Frindly</b></button>
                    </div>
                    <div class="fifth">
                        <button><b>Inventory Management</b></button>
                        <br />
                        <br />
                        <button><b>Order Management</b></button>
                        <br />
                        <br />
                        <button><b>Reporting and Analysis</b></button>
                        <br />
                        <br />
                        <button><b>Shipping Service</b></button>
                        <br />
                        <br />
                        <button><b>Integrations</b></button>

                    </div>

                </div>

            </div>
    </section>
    <div id="section">
     

     <div id="add">
        <div id="contain">

            <div id="imagefm">


                <div id="pdetails"> <h4><b><u>Add New Product</u></i> </b></h4></div>
        <form class="sum" action="/Upload" method="post" enctype="multipart/form-data">

            <div>
                <div class="gulla">
                    <img id="suman" src="#" alt="Preview Image" style="display:none ;">
                    <label for="image">Upload Image:</label>
                    <input type="file" id="sumanpto" name="image" accept="image/*">
                </div>


                <h4> Name of Product:</h4>
                <input type="text" name="productname" placeholder="Enter the product name">
                </b>
                <h4>Price of Product:</h4>
                <input type="text" name="price" placeholder="Enter the prie">
                </br>
                <h4>Description of product:</h4>
                <textarea name="description" placeholder="Enter the product description"></textarea>
                <div>
                    <button id="btnsubmitt" type="submit">submit</button>
                </div>
            </div>
        </form>

      </div>
      </div>

    </div>
    

    </div>
    <script>
        document.getElementById('sumanpto').addEventListener('change', function (event) {
            var image = document.getElementById('suman');
            var file = event.target.files[0];
            var reader = new FileReader();

            reader.onload = function (e) {
                image.src = e.target.result;
                image.style.display = 'block';

            };

            reader.readAsDataURL(file);
        });
    </script>



</body>
</html>
